

            
    .form
      %fom{class: "new_message", id: "new_message", 
      enctype: "multipart/form-data", action: "/groups/3791/messages",accept_charset: "UTF-8", method: "post"}
        .input-box
          %input{placeholder: "type a message", class: "input-box_text", type: "text"}
          %label.input-box_image
            %i.fa_faimage
        .submit-btn Send
